<router-outlet></router-outlet>



<table border="2" cdkDropList >
  <thead>
    <th>Orders</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email</th>
    <th>Address</th>
  </thead>
  <tbody cdkDropList [cdkDropListData]="users" (cdkDropListDropped)="dropTable($event)"> 
    <tr *ngFor="let item of users " cdkDrag cdkDragLockAxis="y" >
      <td><div class="drag-handle">
        {{ item.order }}
      </div></td>
      <td>{{item.first}}</td>
      <td>{{item.last}}</td>
      <td>{{item.email}}</td>
      <td>{{item.address}}</td>
    </tr>
  </tbody>
</table>